body {
  font-family: "Geologica", sans-serif;
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sign-up-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-title {
  font-weight: 500;
}

.toggles-signup {
  display: flex;
  gap: 1rem;
}

.client-tutor {
  display: flex;

  top: 1rem;
}

.get-started {
  font-weight: 300;
}

.sign-up-page {
  display: flex;
  flex-direction: column;
}

.border {
  border-style: solid;
  border-width: 0.02rem;
  border-color: #d0d4ca;
  border-radius: 8px;
}
.sign-up-intro {
  display: flex;
  flex-direction: column;

  margin: auto 2rem;
  padding-top: 2.5rem;
  padding-bottom: 1.2rem;
}

.sign-in-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-bottom: 2rem;
}

.top-info {
  display: flex;
}

.client-tutor {
  display: flex;
  position: relative;
}

.login-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-bottom: 2rem;
}

.signupHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skillSelector {
  height: 14rem;
  overflow: hidden;
  padding: 3%;
  width: 20rem;
  margin-top: 0.7rem;
}

.user-name,
.email,
.password {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 6px;
  height: 2.5rem;
  width: 20rem;
  border-width: 0.9px;
}

.skills-title {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 18px;
}

.skills-box {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.2rem;
}

button {
  width: 20rem;
  height: 2.5rem;
  border-width: 0.7px;
  border-radius: 6px;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  background-color: #64ccc5;
  color: white;
  font-size: 15px;
}

.change-page {
  display: flex;
  flex-direction: row;
}
