* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body  {
  background-image: url("wall2png.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
  margin-bottom: 0px;
}


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}



.container {
  padding: 2%;
  width: 80%;
  margin: 2rem auto;
  background-color: rgba(207, 212, 212, 0.8);
  border-radius: 2rem;
  display: flex;
  justify-content: center;
}
